* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Rubik Iso', cursive;
}

.main-container {
    background-color: #000000;
    background-image: url(img/prism.png);
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    padding: 5px 50px 5px 50px;
    background-color: #E4C28E;
    background-image: url(img/fantasy-bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 1000px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: inset 0px 0px 15px 5px #000000;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 10s linear infinite;
    text-shadow: 0px 2px #000000;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.top {
    display: flex;
    justify-content: space-around;
    height: 250px;
    padding: 10px;
}

.middle {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 15px;
}

.logo {
    display: inline-block;
    height: 30px;
    width: auto;
}

.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 150px;
}

.c-character {
    height: 150px;
    width: auto;
}

.computer-choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4C28E;
    height: 100px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #7C0000;
    box-shadow: 0px 0px 10px 0px #000000;
}

.computer-choice {
    font-size: 30px;
    font-weight: bold;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 150px;
}

.p-character {
    height: 150px;
    width: auto;
}

.player-choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4C28E;
    height: 100px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #004D7C;
    box-shadow: 0px 0px 10px 0px #000000;
}

.player-choice {
    font-size: 30px;
    font-weight: bold;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.fight {
    display: flex;
    align-items: center;
    height: 150px;
    margin-bottom: 50px;
}

.fight-button {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #E4C28E;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}

.choice-img {
    height: 60px;
    width: auto;
}

.rps {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100px;
}

#rock {
    background-color: #E4C28E;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}

#paper {
    background-color: #E4C28E;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}

#scissors {
    background-color: #E4C28E;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}

.computer-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4C28E;
    height: 100px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #7C0000;
    box-shadow: 0px 0px 10px 0px #000000;
}

.computer-score {
    font-size: 30px;
    font-weight: bold;
}

.round-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #E4C28E;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
}

.round-result {
    font-size: 30px;
    font-weight: bold;
}

.player-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4C28E;
    height: 100px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #004D7C;
    box-shadow: 0px 0px 10px 0px #000000;
}

.player-score {
    font-size: 30px;
    font-weight: bold;
}

.game-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #E4C28E;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
}

.game-result {
    font-size: 30px;
    font-weight: bold;
}

.play-again {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #E4C28E;
    height: 100px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #190B00;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}
